<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"> </script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>
<body>  
    <div id="app">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">添加品牌</h3>
                    </div>
                    <div class="panel-body">
                        <label>
                            Id:
                            <input type="text" class="form-control" v-model="id">   
                        </label>
                        <label>
                            Name:
                            <input type="text" class="form-control" v-model="name" @keyup.f2="add">
                          </label>
                          <!-- 在vue中 使用事件绑定 为元素指定处理函数的时候，如果加了小括号 就可以给函数传递参数了-->
                          <input type="button" value="添加" class="btn btn-primary" @click=add() >
                          <label>
                              搜索名称关键字：
                              <input type="text" class="form-control" v-model="keyWords">
                          </label>
                    </div>
                </div>
                
            <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Ctime</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in search(keyWords)" :key="item.id">
                        <td>{{item.id}}</td>
                        <td v-text="item.name"></td>
                        <td>{{item.ctime | dateFormat()}}</td>
                        <td>
                            <a href="" @click.prevent="del(item.id)">删除</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
    
    </div>  
        
    </div>
    <script>
     
     Vue.filter('dateFormat', function (dateStr, pattern = "") {
      // 根据给定的时间字符串，得到特定的时间
      var dt = new Date(dateStr)

      //   yyyy-mm-dd
      var y = dt.getFullYear()
      var m = dt.getMonth() + 1
      var d = dt.getDate()

      // return y + '-' + m + '-' + d



      if (pattern.toLowerCase() === 'yyyy-mm-dd') {
        return `${y}-${m}-${d}`
      } else {
        var hh = dt.getHours()
        var mm = dt.getMinutes()
        var ss = dt.getSeconds()

        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
      }
    })

        //自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 113
        //使用Vue.directive() 定义全局指令 v-focus 第二个参数是一个对象
        Vue.directive('focus',{
            bind: function(el){
                //每当绑定的时候调用，第一个参数永远是el 这是一个原生js对象(就是操作Dom对象)
                //在此时调用focus 没有效果，focus只有在元素插入到了Dom树中才能起效果
            },
            inserted: function(el){
                el.focus()
                //和js有关的操作 最好放在此时去执行 表示元素插入到Dom树中的适合执行
            }
        })
        
       //创建Vue实例
       var vm = new Vue({
           el: '#app',
           data:{
               id:'',
               name:'',
               keyWords:'',
                list:[
                    {id: 1, name: '奔驰', ctime: new Date()},
                    {id: 2, name: '宝马', ctime: new Date()}
                ]
           },
           methods: {
                add(){
                    //添加方法
                    //1.获取id和name, 直接从data上获取：v-model
                    //2.组织出一个对象，调用数组的相关方法，添加到data 中的list 上
                    //3.在vue中已经实现了数据双向绑定，每当我们修改data中的数据，vue会默认监听到数据的改动  自动把数据渲染到页面上
                    var car = {id:this.id,name:this.name,ctime:new Date()}
                    if(this.name=='' || this.id == ''){
                        alert('请输入内容，再进行添加')
                        return;
                    }else{
                        this.list.push(car)
                    this.id = this.name = ''
                    }
                  
                },
                del(id){
                    // 删除方法：
                    // 1.如何根据Id 找到要删除这一项的索引
                    // 2.如果找到了，直接调用数组的splice方法
                    this.list.some((item,i)=>{
                        if(item.id == id){
                            this.list.splice(i,1)
                            return true;
                        }
                    })
                },
               search(keyWords){//根据关键字，进行检索
                    var newList = [];
                    this.list.forEach(item => {
                        if(item.name.indexOf(keyWords) != -1){
                            newList.push(item)
                        }
                    })
                    return newList;
                    // return this.list.filter(item=>{
                    //     if(item.name.includes(keyWords)){
                    //         //Es6 为字符串提供了新方法，String.prototype.includes("要包含的字符串")
                    //         return item
                    //     }
                    // })

               }               
           }
       })
    </script>
</body>
</html>